@model Review_Web_App.Models.DTOs.UpdateCategoryModel
  
<link href="~/css/EditCategory.css" rel="stylesheet" />
<div class="edit-form-container">
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="edit-form">
        <div class="form-group">
            <label asp-for="PreviousName" class="control-label edit-label"></label>
            <input asp-for="PreviousName" class="form-control edit-input" readonly />
            <span asp-validation-for="PreviousName" class="text-danger edit-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewName" class="control-label edit-label"></label>
            <input asp-for="NewName" class="form-control edit-input" />
            <span asp-validation-for="NewName" class="text-danger edit-error"></span>
        </div>
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block edit-submit" type="submit">Edit</button>
    </form>
</div>