@model IEnumerable<Review_Web_App.Models.DTOs.PostResponseModel>
<link href="~/css/Search.css" rel="stylesheet" />
@{
   
    var message = ViewBag.Message as string;
    Layout = "_Layout1";
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info mb-4">
        @message
    </div>
}


<div class="search-form">
    <form asp-action="SearchResults" asp-controller="Posts" method="get">
        <div class="form-group">
            <label for="title" class="control-label">Search by title:</label>
            <textarea id="title" name="title" placeholder="Search..." class="form-control" required></textarea>
        </div>

        <div class="form-group">
            <label for="categoryId" class="control-label">Category:</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">Select a category</option>
                @foreach (var category in ViewBag.Categories as IEnumerable<SelectListItem>)
                {
                    <option value="@category.Value" selected="@(ViewContext.HttpContext.Request.Query["categoryId"] == category.Value)">
                        @category.Text
                    </option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>


